In [18]:
import pandas as pd

data = pd.read_csv("seoul.csv")
data.head(3)

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"135,000",,1979,2016,역삼동,개나리4,1,5,176.8600,,712,11680,3,,
1,"80,500",,2006,2016,역삼동,역삼푸르지오,1,6,59.8848,,754-1,11680,6,,
2,"79,000",,2005,2016,역삼동,역삼래미안,1,7,59.4000,,757,11680,8,,

In [19]:
len(data)

299596

In [20]:
def combine_columns(col_1, col_2):
    result = str(col_1)
    if len(str(col_2)) != 2:
        result += "0" + str(col_2)
    else:
        result += "" + str(col_2)
    return result

data["year_month"] = data.apply(lambda x: combine_columns(x["년"], x["월"]), axis=1)

In [21]:
data["거래금액"] = data["거래금액"].str.strip()

In [22]:
data["거래금액"] = data["거래금액"].str.replace(",", "")

In [23]:
data["거래금액"] = data["거래금액"].astype(int)

In [24]:
data.head(5)

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,year_month
0,135000,,1979,2016,역삼동,개나리4,1,5,176.8600,,712,11680,3,,,201601
1,80500,,2006,2016,역삼동,역삼푸르지오,1,6,59.8848,,754-1,11680,6,,,201601
2,79000,,2005,2016,역삼동,역삼래미안,1,7,59.4000,,757,11680,8,,,201601
3,42000,,2006,2016,역삼동,역삼I'PARK,1,8,28.2460,,713-11,11680,7,,,201601
4,25000,,2002,2016,역삼동,대우디오빌,1,9,30.0300,,720-25,11680,14,,,201601

In [25]:
data["법정동"].unique()

array([' 역삼동', ' 개포동', ' 청담동', ' 삼성동', ' 대치동', ' 신사동', ' 논현동', ' 압구정동',
       ' 세곡동', ' 자곡동', ' 율현동', ' 일원동', ' 수서동', ' 도곡동', ' 명일동', ' 고덕동',
       ' 상일동', ' 길동', ' 둔촌동', ' 암사동', ' 성내동', ' 천호동', ' 강일동', ' 미아동',
       ' 번동', ' 수유동', ' 우이동', ' 염창동', ' 등촌동', ' 화곡동', ' 가양동', ' 마곡동',
       ' 내발산동', ' 공항동', ' 방화동', ' 봉천동', ' 신림동', ' 남현동', ' 중곡동', ' 구의동',
       ' 광장동', ' 자양동', ' 화양동', ' 군자동', ' 능동', ' 신도림동', ' 구로동', ' 고척동',
       ' 개봉동', ' 오류동', ' 온수동', ' 천왕동', ' 가리봉동', ' 궁동', ' 항동', ' 가산동',
       ' 독산동', ' 시흥동', ' 월계동', ' 공릉동', ' 하계동', ' 상계동', ' 중계동', ' 쌍문동',
       ' 방학동', ' 창동', ' 도봉동', ' 용두동', ' 제기동', ' 전농동', ' 답십리동', ' 장안동',
       ' 청량리동', ' 회기동', ' 휘경동', ' 이문동', ' 신설동', ' 노량진동', ' 상도동', ' 본동',
       ' 흑석동', ' 동작동', ' 사당동', ' 대방동', ' 신대방동', ' 상도1동', ' 아현동', ' 공덕동',
       ' 신공덕동', ' 도화동', ' 용강동', ' 토정동', ' 마포동', ' 대흥동', ' 염리동', ' 노고산동',
       ' 신수동', ' 현석동', ' 창전동', ' 상수동', ' 하중동', ' 신정동', ' 서교동', ' 합정동',
       ' 망원동', ' 연남동', ' 성산동', ' 중동', ' 상암동', ' 동교동', ' 구수동', ' 충정로2가',
       ' 충정로3가', ' 합동', ' 미근동', ' 냉천동', ' 천연동', ' 영천동', ' 현저동', ' 북아현동',
       ' 홍제동', ' 대현동', ' 창천동', ' 연희동', ' 홍은동', ' 북가좌동', ' 남가좌동'],
      dtype=object)

In [26]:
data.to_csv("seoul_pre.csv", encoding = "utf-8-sig")