In [1]:
import pandas as pd

data = pd.read_csv("seoul.csv")
data.head(3)

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"84,500",,2005,2006,역삼동,역삼래미안,1,2,80.87,,757,11680,14,,
1,"75,000",,2005,2006,역삼동,역삼래미안,1,2,80.87,,757,11680,4,,
2,"51,000",,2005,2006,역삼동,역삼래미안,1,3,59.40,,757,11680,22,,

In [2]:
def combine_columns(col_1, col_2):
    result = str(col_1)
    if len(str(col_2)) != 2:
        result += "0" + str(col_2)
    else:
        result += "" + str(col_2)
    return result

data["year_month"] = data.apply(lambda x: combine_columns(x["년"], x["월"]), axis=1)

In [3]:
data["거래금액"] = data["거래금액"].str.strip()

In [4]:
data["거래금액"] = data["거래금액"].str.replace(",", "")

In [5]:
data["거래금액"] = data["거래금액"].astype(int)

In [6]:
data.head(5)

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,year_month
0,84500,,2005,2006,역삼동,역삼래미안,1,2,80.87,,757,11680,14,,,200601
1,75000,,2005,2006,역삼동,역삼래미안,1,2,80.87,,757,11680,4,,,200601
2,51000,,2005,2006,역삼동,역삼래미안,1,3,59.40,,757,11680,22,,,200601
3,10500,,2003,2006,역삼동,우림루미아트1,1,3,23.66,,706-11,11680,8,,,200601
4,56500,,2004,2006,역삼동,명인갤러리2차,1,5,122.46,,732-25,11680,12,,,200601

In [7]:
data.to_csv("seoul_pre.csv", encoding = "utf-8-sig")